@font-face {
    font-family: 'Englis_HandWriting';
    src: url('../src/font/BALONEY_.TTF');
}

body {
    background-color: black;
    cursor: url(../src/img/Close_64*64.ico), auto;
}


header {

    margin: 2rem 60px;
    height: 60px;
    color: #B7AA83;
    font-size: 1.2em;
    font-family: 'Times New Roman', Times, serif;

}

a.nav-link {
    color: #B7AA83;
    text-align: left;
}

@media screen and (min-width: 1400px) {
    .container {
        max-width: 1300px;
    }
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
    text-align: center;

}

#navbarSupportedContent .row {
    margin: auto;
    width: 100%;
}

#navbarSupportedContent .row .row .col-4 {
    margin: 0;
    padding: 0;
    display: flex;

}

#NavBar_Img img {
    width: 40%;
    margin: auto;

}

#navbarSupportedContent .row .row .col-4 .row .col {
    margin: 0;
    padding: 0;

}



.navbar-nav .col.row.col {
    padding: 0;
}



.navbar {
    padding: 0;
    text-align: center;
    width: 100%;

}

.navbar-nav .col .row {
    margin: 0;
}

ul.nav.navbar-nav li {
    float: none;
    display: inline-block;
    margin: 0em;
}

#Home1 {
    cursor: url(../src/img/Open_90*90.ico), auto;

}

#Guides1 {}

.Dynasty_Intro {
    cursor: url(../src/img/Close_64*64.ico), auto;
}

.Goods_Details {
    cursor: pointer;
}

.Home_BackPage {
    margin-top: 6rem;
    color: #fff;

}

.homePage_Back {

    margin-bottom: 2rem;
    position: relative;
    padding: 0;


}


.animate_ming {

    background: none;
    position: absolute;
    vertical-align: middle;
    left: 50%;
    top: auto;
    right: 0%;
    bottom: -20%;
    height: auto;
    width: 30%;
}

.animate_tang {

    background: none;
    position: absolute;

    vertical-align: middle;
    top: auto;
    right: 0%;
    height: auto;
}

#tang1 {
    left: 10%;
    bottom: -1%;
    width: 30%;
}

#tang2 {
    left: 75%;
    bottom: 5%;
    width: 17%;
}

#song {
    left: 45%;
    bottom: -12%;
    width: 40%;
}



.Ming_Guide img {
    width: 100%;
}



.col .col-xl-4 {
    margin: 0;
    display: flex;
}

.col .col-xl-4 img {
    margin: auto;

}

.Menu_icon {
    width: 30px;
    height: 30px;

}

.contact-area {
    background-repeat: no-repeat;
    background-position: center center;
}

.contact-bg {
    background-size: cover;
    background-position: center;
    z-index: 1;
}

#Product_Details {
    cursor: pointer;
}

.single-product {
    margin: 20px auto 100px auto;
}




.slider {
    width: 80%;

    /*Same as width of the large image*/
    position: relative;
    /*Instead of height we will use padding*/

    /*That helps bring the labels down*/

    margin: 20px auto 100px auto;

    /*Lets add a shadow*/
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}


/*Last thing remaining is to add transitions*/
.slider>img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s;
}

.slider input[name='slide_switch'] {
    display: none;
}

.slider label {
    /*Lets add some spacing for the thumbnails*/
    width: 15%;
    margin: 18px 1px 1px 18px;
    border: 3px solid #999;

    float: left;
    cursor: pointer;
    transition: all 0.5s;

    /*Default style = low opacity*/
    opacity: 0.6;
}

.slider label img {
    display: block;
    width: 100%;
}

/*Time to add the click effects*/
.slider input[name='slide_switch']:checked+label {
    border-color: #666;
    opacity: 1;
}

/*Clicking any thumbnail now should change its opacity(style)*/
/*Time to work on the main images*/
.slider input[name='slide_switch']~img {
    opacity: 0;
    transform: scale(1.1);
}

/*That hides all main images at a 110% size
On click the images will be displayed at normal size to complete the effect
*/
.slider input[name='slide_switch']:checked+label+img {
    opacity: 1;
    transform: scale(1);
}

/*Clicking on any thumbnail now should activate the image related to it*/

/*We are done :)*/

input {
    font-size: 1.1em;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 4px;
    padding: 20px 20px 21px;

    width: 100%;
    height: 25%;
    outline: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: transparent;
    -webkit-appearance: none;

    -webkit-transition: color .4s, background-colour .4s;
    transition: color .4s, background-colour .4s;
}



.form-label {
    font-size: 1.2em;
    left: 50%;

}


.form-box .row {

    margin: 0;
    padding: 0;
    display: flex;
    cursor: pointer;

}


.form-Back {
    background-color: beige;
    width: 100%;
    height: 50rem;
    display: flex;
    position: relative;
    background-image: url("https://s2.loli.net/2022/02/16/kHxgocOAi6BX39M.png");
    background-size: 100%;

}

.form-box {
    color: #fff;
    width: 80%;
    height: 80%;

    background-color: black;
    opacity: 0.8;
    display: flex;

}

.form-log {
    top: 50%;
    left: 50%;
    margin: auto;
}

.form-box .row .col-12 div {

    display: flex;

}

.form-box button {

    margin: 0 auto;

    border-color: #3e53bb;
    background-color: #3e53bb;
    color: #fff;
    cursor: pointer;

    -webkit-transition: background-color .1s linear;
    transition: background-color .1s linear;
    font-weight: 700;
}

.form-box p {
    margin: 0 auto;
    padding-top: 1rem;

}


.front {

    transform: rotateY(0deg);

}

/* 将back旋转180度，背面朝向用户，我这边选y轴的 */
.back {

    transform: rotateY(-180deg);

}

.front,
.back {

    position: absolute;
    top: 10%;
    left: 10%;

    /* 然后设置为背面朝向用户时不可见 */
    backface-visibility: hidden;
    /* 我觉得用linear顺滑一点 */
    transition: 0.3s linear;
}

/* 将front旋转180度 */
.middle-flip .front {
    transform: rotateY(180deg);
}

/* 将back旋转180度 */
.middle-flip .back {
    transform: rotateY(0deg);
}



option {

    font-weight: normal;
    font-size: 1.2rem;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;

}

#product_Size {
    width: 100%;
}

#product_Detail {

    width: 80%;
    vertical-align: middle;
}

#product_Submit {

    width: 80%;
    height: 4rem;
    display: block;
    border: 0;
    background: #dbc88d;
    border-radius: 4px;
    color: #fff;
    font-size: .875em;
    outline: none;
    cursor: pointer;
    font-family: Karla, Arial, sans-serif;
    font-weight: 700;
    -webkit-transition: background .2s ease 50ms;
    transition: background .2s ease 50ms;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.single-product {
    margin: 0 auto;
    padding: 2rem;
}

.single-product .row {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1.5rem;
}

#product_End a {
    color: #fff;

}

#product_End li {

    font-size: 1rem;
    margin: 0.5rem 0;
}

#product_End li::marker {


    content: "\2726";



}

form {
    cursor: pointer;
}

.cart_Title {

    height: 10vh;
}

.selected_Items_row {
    padding: 2rem;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

#selected_Object {
    display: grid;
}

#selected_Img {
    display: flex;
    margin: auto;
}

#selected_Img img {
    width: 50%;
    margin: auto;
}

#selected_Title {
    position: absolute;
    font-size: calc(1em + 1.5vw);
}

#selected_Detail {
    align-self: center;
}

#selected_Detail dd {
    font-size: 1.3rem;
}

.selected_Delete {
    color: #fff;

    align-self: center;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.selected_Delete a {
    color: #fff;
}

.selected_Sub {

    padding: 2rem;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;

}

.selected_checkOut {

    padding: 2rem;


}

.selected_checkOut .row .col-2 {

    display: flex;
}

.selected_checkOut .row .col-4 {

    display: flex;

}

#checkOut_Button {
    margin: auto;
    background: #dbc88d;
    border-radius: 4px;
    border: 1px solid #3e53bb;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: 700;
    padding: 19px 0 20px;
    width: 350px;
    transition: all .2s;

}

.check_items {
    margin: auto 0;
    color: #fff;

}

.checkOut_Area {
    padding: 2rem;
    border-top: 2px dashed #fff;
    border-bottom: 2px dashed #fff;

}

footer {
    padding-top: 5rem;
    font-family: 'Times New Roman', Times, serif;
    color: #B7AA83;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.footer_Inner {
    background-color: #4B4E0D;
    padding-top: 1rem;
}

.footer_Inner p {
    margin-bottom: 0;
}

.share1 {
    width: 200px;
    margin: 0 auto;
    overflow: hidden;
}

.share1 .row {
    margin: 4rem auto;

}

.share1 .row .col-4 {
    display: flex;
}

.share1 .row .col-4 img {
    margin: auto;
    width: 100%;
}


.share {

    width: 350px;
    margin: 0 auto;
    overflow: hidden;

}



.footerinfo_Back {
    background-color: #151506;

}

.footerinfo {
    font-size: 16px;
    text-align: center;
    color: #B7AA83;
    opacity: 0.8;
    filter: alpha(opacity=80);
    padding-bottom: 2rem;

}

.footerinfoTop .row {
    margin: auto;


}

.footerinfoTop .row .col-4 {
    display: flex;
}

.footerinfoTop .row .col-6 {
    display: flex;
}

.footerinfoTop p {
    margin: auto;
    text-align: justify;
    margin-bottom: 2rem;
}

.footerinfoTop p::before {
    content: "\2726";
}

.footerinfoTop {
    margin: 10px 0;
    display: flex;
}

.footerinfoTop p {
    line-height: 22px;
}

.footerinfoBottom {
    font-size: 12px;
}

.footerinfoBottom .min {
    font-size: 12px;
}

.fa-brands::before {
    font-size: 3vh;
}

.Ming_Guide {
    position: relative;
}

.More {
    position: absolute;
    color: #fff;
    font-size: 5rem;
    background-color: transparent;
    border: transparent;
    font-family: 'Englis_HandWriting';
    padding-top: 5rem;
    padding-left: 10rem;
    right: 0;
    bottom: 10px;

}

.More:hover {
    color: #869B69;

}

.Dynasty {
    position: relative;
    width: auto;
    height: auto;
    margin-bottom: 5rem;


}

.Dynasty img {
    position: absolute;
    width: 100%;
    z-index: 0;



}

.clear {
    clear: both;
}

.Dynasty .row {


    overflow: hidden;

}

#label1_s_1 {
    position: absolute;
    width: 12%;
    margin-top: 28%;
    right: 2%;
    z-index: 1;
}

#label1_s_2 {
    position: absolute;
    width: 12%;
    margin-top: 14%;
    right: 10%;
    z-index: 1;
}

#label1_s_3 {
    position: absolute;
    width: 12%;
    margin-top: 0%;
    right: 14%;
    z-index: 1;
}

#label1_s_4 {
    position: absolute;
    width: 12%;
    margin-top: 8%;
    right: 48%;
    z-index: 1;
}


#label_s_1 {
    position: absolute;
    width: 12%;
    margin-top: 30%;
    left: 0%;
    z-index: 1;
}

#label_s_2 {
    position: absolute;
    width: 12%;
    margin-top: 27%;
    left: 15%;
    z-index: 1;
}

#label_s_3 {
    position: absolute;
    width: 12%;
    margin-top: 14%;
    left: -2%;
    z-index: 1;
}

#label_s_4 {
    position: absolute;
    width: 12%;
    margin-top: 2%;
    left: 7%;
    z-index: 1;
}





#label3_s_1 {
    position: absolute;
    width: 12%;
    margin-top: 30%;
    left: 0%;
    z-index: 1;
}

#label3_s_2 {
    position: absolute;
    width: 12%;
    margin-top: 27%;
    left: 15%;
    z-index: 1;
}

#label3_s_3 {
    position: absolute;
    width: 12%;
    margin-top: 14%;
    left: -2%;
    z-index: 1;
}

#label3_s_4 {
    position: absolute;
    width: 12%;
    margin-top: 2%;
    left: 7%;
    z-index: 1;
}

#label4_s_1 {
    position: absolute;
    width: 12%;
    margin-top: 28%;
    right: 2%;
    z-index: 1;
}

#label4_s_2 {
    position: absolute;
    width: 12%;
    margin-top: 14%;
    right: 10%;
    z-index: 1;
}

#label4_s_3 {
    position: absolute;
    width: 12%;
    margin-top: 0%;
    right: 14%;
    z-index: 1;
}

#label4_s_4 {
    position: absolute;
    width: 12%;
    margin-top: 8%;
    right: 48%;
    z-index: 1;
}



.text_Content {
    width: 40%;
    position: absolute;
    right: 0;
    margin-top: 10%;
    z-index: 1;
    text-align: center;
}

.text_Content2 {
    width: 40%;
    position: absolute;
    left: 0%;
    margin-top: 10%;
    z-index: 1;
    text-align: center;
}

.card {
    width: 20%;
    margin: 10px;

}

.card img {
    position: relative;
    margin: 0 auto;

    z-index: 0;
}
#card-ming img{
    width: 80%;
}
#card-tang1 img{
    width: 80%;
}
#card-tang2 img{
    width: 80%;
}
#card-song img{
    width: 80%;
}

.card button {

    z-index: 1;
}

.btn {

    margin: 0 auto;
    width: 80%;
    height: 2.5rem;
    border-color: #dbc88d;
    background-color: #dbc88d;
    color: #fff;
    cursor: pointer;

    font-size: 1rem;
    -webkit-transition: background-color .1s linear;
    transition: background-color .1s linear;
    font-weight: 700;
    z-index: 1;
}

p {

    word-wrap: break-word;

}

#Ming_Intro_Content {
    font-size: 1.1rem;
}

#Tang_Intro_Content {
    font-size: 1.1rem;
}

#Song_Intro_Content {
    font-size: 1.1rem;
}

.card {
    background: none;
}

.dropdown-menu {
    background-color: #a1916a;


}

.dropdown-divider {
    border-top: black;

}